<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>File Fetcher</title>
</head>
<body>
  <h1>Fetch a File from the Sidecar!</h1>
  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
  <h2>Submission</h2>
  <form action="/fetch-file" method="get">
    <label for="path">Enter file path:</label>
    <input type="text" id="path" name="path" required>
    <button type="submit">Fetch File</button>
  </form>
  <h2>Health Check</h2>
  <form action="/health-check" method="get">
    <button type="submit">Run Health Check</button>
    <br /><br />
    <div>
      <label>Result:</label>
      <span>{{ health_check_result }}</span>
    </div>
    <div>
      <label>Execution Time (ms):</label>
      <span>{{ execution_time_ms }}</span>
    </div>
  </form>
</body>
</html>